.container-fluid {
    height: 290vh;
}
header {
    height: 5vh;
}
.application-name-row {
    height: 85vh;
}
.application-name-row .application-name {
    background-color:springgreen;
}
.fabicons-row {
    height: 10vh;
}
.fabicons-row .fabicons {
    background-color:snow;
    display: flex; /* 横並び */
    justify-content: space-around; /* 等間隔 */
    align-items: center;     /*中央揃え*/
}
.event-operation-row {
    height: 185vh;
}
.event-operation-row .inspect-event-column {
    height: 90vh;
    background-color:gainsboro;
    cursor: pointer;
}
.event-operation-row .inspect-event-column .recruiting-table {
    height: 45vh;
    overflow: scroll;
}
.event-operation-row .inspect-event-column .scheduled-table {
    height: 45vh;
    overflow: scroll;
}
.event-operation-row .management-event-column {
    height: 95vh;
    background-color:honeydew;
    cursor: pointer;
}
.event-operation-row .management-event-column #event-make-form {
    height: 30vh;
    overflow: scroll;
}
.event-operation-row .management-event-column #event-make-form label{
    margin-top: 13px;
    margin-bottom: 0px;
    text-align: left;
}
.event-operation-row .management-event-column #event-make-form .make-event-form {
    margin-top: 3px;
    margin-bottom: 10px;
    text-align: center;
}
.event-operation-row .management-event-column #event-make-form .input {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.event-operation-row .management-event-column #event-make-form .button {
    width: 50%;
}
.event-operation-row .management-event-column #my-event-table {
    height: 65vh;
    overflow: scroll;
}
footer {
    height: 5vh;
}
table {
    width: 100%;
}
table caption {
    caption-side: top;
    text-align: center;
}
thead th {
    /* 縦スクロール時に固定する */
    background-color: springgreen;
    opacity: 0.5;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* tbody内のセルより手前に表示する */
    z-index: 1;
}
th:first-child, td:first-child {
    /* 横スクロール時に固定する */
    position: -webkit-sticky;
    position: sticky;
    left: 0;
}
.hidden {
    visibility: hidden;
}
.visible {
    transition: 8s;
    visibility: visible;
}

/* 画面幅 > IPhone 5/SE 横置き幅 */
@media (min-width: 568px) {
    .container-fluid {
        height: 100vh;
    }
    header{
        height: 5vh;
    }
    .application-name-row{
        height: 30vh;
    }
    .fabicons-row{
        height: 10vh;
    }
    .event-operation-row{
        height: 50vh;
    }
    .event-operation-row .inspect-event-column{
        height: 50vh;
        background-color:gainsboro;
        cursor: pointer;
    }
    .event-operation-row .inspect-event-column .recruiting-table {
        height: 25vh;
        overflow: scroll;
    }
    .event-operation-row .inspect-event-column .scheduled-table {
        height: 25vh;
        overflow: scroll;
    }
    .event-operation-row .management-event-column{
        height: 50vh;
        background-color:honeydew;
        cursor: pointer;
    }
    .event-operation-row .management-event-column #event-make-form {
        height: 25vh;
        overflow: scroll;
        padding-top: 27px; /* 左のイベント一覧の見出しと高さを合わせるために設定。 */
    }
    .event-operation-row .management-event-column #my-event-table {
        height: 25vh;
        overflow: scroll;
    }
    footer{
        height: 5vh;
    }
}

/* 画面幅 > IPad 横置き幅 */
@media (min-width:1024px) {

    .width-1024-and-margin-0-auto {
        margin: 0 auto;
        width: 1024px;
    }

    .width-512-and-margin-left-auto {
        margin-left: auto;
        width: 512px;
    }

    .width-512-and-margin-right-auto {
        margin-right: auto;
        width: 512px;
    }

}
