{% extends "layout.html" %}
{% block content %}
<form action="/home" method="POST" enctype="multipart/form-data"></form>
<div class="row application-name-row">
    <div class="application-name">Event-In</div>
</div>
<div class="row fabicons-row">
    <div class="fabicons">
        <!-- ファビコン一覧画面 -->
        {% include "fabicons.html" %}
    </div>
</div>
<div class="row event-operation-row">
    <div class="inspect-event-column">
        <!-- イベント一覧画面 -->
        {% include "event-table.html" %}
    </div>
    <div class="management-event-column">
        <!-- イベント作成画面 -->
        {% include "event-make-form.html" %}
        <!-- 自作のイベント編集画面 -->
        {% include "my-event-table.html" %}
    </div>
</div>
{% endblock %}