<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Hello {{name}}</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <!-- fontawesomeのCDN -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Caveat|Fredericka+the+Great" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
        <!-- ヘッダー -->
        {% include "header.html" %}

        <!-- メインコンテンツ -->
        {% block content %}{% endblock %}

        <!-- フッター -->
        {% include "footer.html" %}
        </div>
        <script src="../static/js/header-class.js"></script>
        <script src="../static/js/application-name-class.js"></script>
        <script src="../static/js/fabicons-class.js"></script>
        <script src="../static/js/inspect-event-column-class.js"></script>
        <script src="../static/js/management-event-column-class.js"></script>
        <script src="../static/js/footer-class.js"></script>
    </body>
</html>