<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Hello {{name}}</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <!-- ヘッダー -->
        {% include "header.html" %}
        
        <!-- メインコンテンツ -->
        {% block content %}{% endblock %}

        <!-- フッター -->
        {% include "footer.html" %}
        <script src="../static/js/second-columns.js"></script>
    </body>
</html>